<div class="row">
    {% for her in herra %}
        {% if forloop.counter0|divisibleby:2 %}
            </div><div class="row">
        {% endif %}
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card text-center" style="border-radius: 5%; margin: 25px;">
                <div class="card-header text-white bg-success">
                    Herramienta {{ her.nombre }}
                </div>
                <div class="card-body text-dark" style="background-color: white;">
                    {% for n in precios %}
                        {% if n.id_producto == her.id_producto %}
                            {% if n.valor == 'Sin Precio' %}
                                <p class="card-text">Sin Precio</p>
                            {% else %}
                                <p class="card-text">Precio ${{ n.valor }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% for n in stocks %}
                        {% if n.id_producto == her.id_producto %}
                            {% if n.cantidad == 0 %}
                                <p class="card-text"><span>Sin Stock</span></p>
                            {% elif n.cantidad >= 100 %}
                                <p class="card-text"><span>Stock:</span> +99</p>
                            {% elif 100 > n.cantidad %}
                                <p class="card-text"><span>Stock:</span> {{ n.cantidad }}</p>
                            {% else %}
                                <p class="card-text"><span>Sin Stock</span></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                    
                    
                    <hr>
                    <p class="card-text">{{ her.id_tipo }}</p>
                    
                    <a href="{% url 'agregar_producto' her.id_producto %}" class="btn btn-outline-success">Agregar al Carrito</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
